/* * {
    outline: 1px dotted red;
} */

#wrapper{
    padding: 0px 0px 0px 0px;
}

/* Title */
/* ----------------------------------------------------------- */

#title {
    margin: auto;
    width: 50%;
}

/* Header Navagation Menu */
/* ----------------------------------------------------------- */

#header-menu {
    margin: auto;
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

#nlm_logo_2024 {
    background-color: white;
}



/* Carousel */
/* ----------------------------------------------------------- */

#carouselExampleAutoplaying {
    margin: auto;
    width: 80%;
    padding-top: 90px;
}

/* Font */
/* ----------------------------------------------------------- */

#coming-soon {
    padding-top: 40px;
    color: rgb(20, 48, 208);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

/* Links */
/* ----------------------------------------------------------- */

a {
    color:black;
    text-decoration: none;
}

/* Buttons */
/* ----------------------------------------------------------- */

button {
    background-color: rgb(255, 255, 255);
}



/* hr */

#bottom-hr {
    padding-top: 10px;
}

/* Footer */
/* ----------------------------------------------------------- */

#social-media-icons {
    margin: auto;
    width: 50%;
    padding: 10px 0px 0px 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

#footer {
    padding-bottom: 20px;
}
#footer-address {
    margin: auto;
    width: 50%;
    padding: 10px 0px 0px 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
}
/* CSS Media Queries */
/* ----------------------------------------------------------- */

/* @media (max-width: 1080px) {
    .wrapper {
        padding: 0px 10px 0px 10px;
        width: 100%;
    }
    #carouselExampleAutoplaying {
        width: 100%;
    }
    #title {
        width: 100%;
    }
    #social-media-icons {
        padding: 0px 0px 0px 0px;
    }
    #footer-address {
        padding: 0px 0px 0px 0px;
    }
} */