/* * {
    outline: 1px dotted red;
} */

/* Title */
/* ----------------------------------------------------------- */

#title {
    margin: auto;
    width: 50%;
}

/* Header Navagation Menu */
/* ----------------------------------------------------------- */

#header-menu {
    margin: auto;
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

#nlm_logo_2024 {
    background-color: white;
}


/* Carousel */
/* ----------------------------------------------------------- */

#carouselExampleAutoplaying {
    margin: auto;
    width: 80%;
}

/* Font */
/* ----------------------------------------------------------- */

.tilt-neon-uniquifier {
    margin: auto;
    width: 50%;
    color: rgb(202, 38, 38);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

/* Links */
/* ----------------------------------------------------------- */

a {
    color:black;
    text-decoration: none;
}

/* Buttons */
/* ----------------------------------------------------------- */

button {
    background-color: rgb(255, 255, 255);
}


/* Section 1 */
/* ----------------------------------------------------------- */

#sect-01-cont{
    width: 100%;
    background-color: #242e38;
}

#sect-01-cont h1{
    font-size: 24px;
}

.header-title{
    color: #eef3f7;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
}

/* ----------------------------------- */
/* Hamburger Menu*/
.navbar-brand{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

#noHover{
    pointer-events: none;
}

#navbarSupportedContent ul li a{
    color: whitesmoke;
    font-family: 'Barlow', sans-serif;
}

#navbarSupportedContent ul li a:link {
    text-decoration: none;
}

#navbarSupportedContent ul li a:visted {
    text-decoration: none;
}

#navbarSupportedContent ul li a:hover {
    color: #64696d;
    text-decoration: none;
}

#navbarSupportedContent ul li a:active {
    text-decoration: none;
}


/* Footer */
/* ----------------------------------------------------------- */

#social-media-icons {
    margin: auto;
    width: 50%;
    padding: 10px 0px 0px 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}
#footer-address {
    margin: auto;
    width: 50%;
    padding: 10px 0px 0px 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
}
/* CSS Media Queries */
/* ----------------------------------------------------------- */

/* @media (max-width: 1080px) {
    .wrapper {
        padding: 0px 10px 0px 10px;
        width: 100%;
    }
    #carouselExampleAutoplaying {
        width: 100%;
    }
    #title {
        width: 100%;
    }
    #social-media-icons {
        padding: 0px 0px 0px 0px;
    }
    #footer-address {
        padding: 0px 0px 0px 0px;
    }
} */